#logo {
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-decoration: none;
    line-height: 90px;
    margin-left: 0px;
    padding: 0 20px 0 20px;
    background-color: #4aaaa5;
    position: relative;
    right: -240px;
 
}

.about {
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 text-decoration: none;
 color: #777777;
 line-height: 18px; 
 display: inline-block;
 position: relative;
 padding-left: 15px;
 margin-left: 15px;
}

.contact {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 text-decoration: none;
 color: #777777;
 line-height: 18px; 
 display: inline-block;
 position: relative;
 padding-left: 15px;
 margin-left: 15px;
 border-left-width: 1px;
 border-left-color: #777777;
 border-left-style: solid;
 }

 .portfolio {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    color: #777777;
    line-height: 18px; 
    display: inline-block;
    position: relative;
    padding-left: 15px;
    margin-left: 15px;
   }

   .sideHeader{
       display: inline-block;
       position: relative;
       right: -500;
       bottom: -50px;
   }

   #h1 {
    display: inline-block;
    right: -100px;
    
}
h1 {
    color: #4aaaa5;
    font-weight: 700;
    margin: 0;
} 

.mainSection {
    width: 960px;
    padding: 0;
    background: #ffffff;
   position: relative;
   top: 100px;
   margin: 0 auto 200px auto;
}

#mainImg {
    float: left;
    margin-right: 25px;
}

hr {
    border: gray solid 1px;
    margin: 0 0 30px 0;
    opacity: 0.75;
 
}

.header{
    position: absolute;
    display: inline-block;
   width: 100%;
    background-color: white;
    top: 0px;
    margin: 0;
    left: 0;
}

.footer {
    background-color:grey;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-color: #4aaaa5;
    left: 0;
    border-top-style: solid;
    text-align: center;
    border-top-width: 16px;
}


body {
    background-image: url("./assets/Images/backgroundImages.png");
    color: #777777;
   
}

h2 {
    color: #4aaaa5;
  
}
.mainContainer {
    margin: 0 auto;
    padding: 30px;
}

#copyright {
    position: relative;
    bottom: -10px;
    color: #ffffff;
    font-size: 10px;
    height: 30px;
    
}

#AboutMe {
 
    display: inline-block;
    position: relative;
    font-size: 2em;
    font-weight: 700;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

.Boxing {
    display: inline-block;
    position: absolute;
    background-color: white;
    width: 250px;
    height: 200px;
    text-align: center;
}

#Boxing {
    position: relative;
    top: -80px;
    line-height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 250px;
}


.Music{
    display: inline-block;
    position: absolute;
    background-color: white;
    top: 400px;
    width: 250px;
    left:30px;
    text-align: center;
}

#Music{
    position: relative;
    top: -80px;
    line-height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 250px;
    color: white;
    background-color:#4aaaa5;

}




.Comedy {
display: inline-block;
    position: absolute;
    width: 250px;
    height: 200px;
    text-align: center;
    bottom: 40px;
    background-color:#4aaaa5;
}

#Comedy{
    position: relative;
    top: -80px;
    line-height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 250px;
    background-color: #4aaaa5;
    color: white;
}

.Studying{
    display: inline-block;
    position: absolute;
    width: 250px;
    height: 200px;
    text-align: center;
    left: 340px;
}

#Studying {
    position: relative;
    top: -80px;
    line-height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    background-color: #4aaaa5;
    width: 250px
}  

.Cooking{
    display: inline-block;
    position: absolute;
    top: 400px;
    left: 340px;
    width: 250px;
    background-color: white;
    text-align: center;
} 

#Cooking{
    position: relative;
    line-height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    background-color: #4aaaa5;
    bottom: 80px;
    width: 250px;
}


.BigContainer {
    margin: 0 auto;
    position: relative;
    width: 900px;
    top: 100px;
    padding: 30px;
    background-color: white;
    height: 850px;
    margin-bottom: 200px;
}
#Boxing {
    background-color:#4aaaa5;
    color: white;
    display: inline-block;
    width: 250px;
}

.formContainer {
    background-color: white;
    margin: 0 auto;
    position: relative;
    width: 960px;
    top: 100px;
    padding: 0;
   
}

#contactForm {
    display: inline-block;
 position: relative;
 font-size: 2em;
 font-weight: 700;
 margin-block-start: 0.67em;
 margin-block-end: 0.67em;
}

.mainForm {
    background-color: white;
    padding: 30px;
    margin: 0 0 300px 0;
    
}

#yourMessage {
    width: 100%;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    opacity: 0.5;
    margin: 5px 0 10px 0;
 
}

#yourName {
    display: block;
    height: 20px;
    width: 100%;
    margin: 5px 0 0px 0;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    opacity: 0.5;
}


#yourEmail {
    height: 20px;
    width: 100%;
    margin: 5px 0 10px 0;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    opacity: 0.5;
    
}

a:hover { color: #4aaaa5; }


.overlay:hover {
    display: block;
  }
input:focus { 
    outline: none !important;
    border-color: #4aaaa5;
    box-shadow: 0 0 10px #4aaaa5;
}

#yourMessage:focus {
    outline: none !important;
    border-color: #4aaaa5;
    box-shadow: 0 0 10px#4aaaa5;
}
#submit {
    color: white;
    background-color: #4aaaa5;
    height: 40px;
    width: 100px;
    line-height: 10px;
    font-size: 20px;
}

label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.picture {
    width: 250px;
    height: 200px;
}

p {
    line-height: 2;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

label {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}



@media (max-width: 980px) {

    #logo {
        position: relative;
        left: 20px;
       
    }

    .sideHeader {
        position: relative;
        left: 330px;
     
      
    }

   
     body {
         margin: 0px;
        
     }
   
   
  
}

@media (max-width: 768px) {

   
    
    #logo {
        position: relative;
        left: 20px;
       
    }

    .sideHeader {
        position: relative;
        left: 130px;
     
      
    }

   
     body {
         margin: 0px;
        
     }

     .BigContainer {
         width: 660px;
         margin-bottom: 120px;
         margin: 20px 20px 100px 20px;
     }

     .formContainer {
        width: 700px;
        margin-top: 20px;
       
      
     }

     .mainForm {
         margin: 0px;
        
       
     }
     .mainSection { 
         width: 700px;
         margin-bottom: 20px;


     }

     @media (max-width: 640px) {
   .formContainer {
       width: 370px;
       top: 20px;
     
   }

   .mainForm {
       margin-top: 0px;
       margin-bottom: 100px;
   }

   body {
       margin: 0px; }

   
.header {
position: static;
width: 100%;
margin: 0;
text-align: center;
}

.mainHeader {
    width: 100%;
    position: static;
    margin: 0;

}

#h1 {
    position: static;
    width: 100%;
    margin: 0;
}

#logo {
    position: static;
    width: 100%;
    margin: 0;
    padding-right: 0;
}

.sideHeader {
    padding-top: 20px;
    padding-bottom: 20px;
    position: static;
    width: 100%;
    margin: 0;
}

.mainSection {
    width: 382px;
  margin-top: 0x;
  top: 40px;
  
}

.mainContainer {
    margin-bottom: 100px;
    
}

#mainImg {
 width: 300px;
 height: 300px;
 margin-bottom: 20px;
}

.BigContainer {
    width: 400px;
    height: 1300px;
    top: 20px;
    margin-bottom: 100px;
}

.Boxing{
    position: relative;
    margin-left: 15px;
}

.Comedy{
    position: relative;
    top: -295px;
    left: 0px;
    margin-left: 15px;
}

.Cooking{
    position: relative;
    left: 0px;
    top : -590px;
    margin-left: 15px;
}

.Studying{
    position: relative;
    left: 0px;
    top: -120px;
    margin-left: 15px;   
}


#logo {
    position: relative;
    left: 90px;
   
}
.sideHeader {
    position: relative;
    left: 460px;
 
  
}

 body {
     margin: 0px;
    
 }


 img:hover {
    opacity: 0.60;
background-color: #4aaaa5}


img:hover {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;}

    img:hover:after {
        opacity:1;}










